<h1>Sorting Data </h1>
<p> Select Radio button for sorting type</p>
    
    <div ng-repeat="sortOption in sortOptions">
      <input type="radio" name="sort" class="form-control"  
        ng-model="$parent.radioValue" 
        value="{{sortOption}}" 
        ng-change="sortData()" />
      <label class="control-label">{{sortOption}}</label><br/><br/>
    </div>
 <table>
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Date</th>
    </tr>
    <tr ng-repeat="product in products">
      <td>{{product.name}}</td>
      <td>{{product.price|currency}}</td>
      <td>{{product.date|date}}</td>
    </tr>
  </table>
   
 
