 <h1>Validate Email POC</h1>
     <div>
      <form name="form" novalidate>
          <label>Email Id</label>
          <input type="text" name="email" validate-email ng-model="email" />
          <span>Please enter a valid Email Id.</span> 
      </form>
     </div>
<h1>Validate telephone POC</h1>
     <div>
      <form name="form" novalidate>
          <label>Telephone</label>
          <input type="text" name="telephone" validate-telephone ng-model="telephone" maxlength="10"/>
          
      </form>
     </div>
 <h1>Validate Zipcode POC</h1>
     <div>
      <form name="form" novalidate>
          <label>Zip Code</label>
          <input type="text" name="zip" validate-zipcode ng-model="zipCode" maxlength="5" />
          
      </form>
     </div>